@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.967 0.0164 91.5509);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(0.9874 0.0107 95.1602);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(0.9874 0.0107 95.1602);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.6889 0.1988 39.1249);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.2161 0.0061 56.0434);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9452 0.0267 47.2172);
  --accent-foreground: oklch(0.2161 0.0061 56.0434);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6889 0.1988 39.1249);
  --chart-1: oklch(0.6889 0.1988 39.1249);
  --chart-2: oklch(0.2161 0.0061 56.0434);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.8369 0.1644 84.4286);
  --radius: 0.625rem;
  --sidebar: oklch(0.9874 0.0107 95.1602);
  --sidebar-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-primary: oklch(0.6889 0.1988 39.1249);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9452 0.0267 47.2172);
  --sidebar-accent-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6889 0.1988 39.1249);
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.967 0.0164 91.5509);
  --card: oklch(0.2587 0.0059 56.1218);
  --card-foreground: oklch(0.967 0.0164 91.5509);
  --popover: oklch(0.2587 0.0059 56.1218);
  --popover-foreground: oklch(0.967 0.0164 91.5509);
  --primary: oklch(0.6889 0.1988 39.1249);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3245 0.0067 48.5065);
  --secondary-foreground: oklch(0.967 0.0164 91.5509);
  --muted: oklch(0.2915 0.0057 56.165);
  --muted-foreground: oklch(0.7161 0.0091 56.259);
  --accent: oklch(0.3584 0.0284 42.2665);
  --accent-foreground: oklch(0.967 0.0164 91.5509);
  --destructive: oklch(0.3958 0.1331 25.723);
  --border: oklch(0.3245 0.0067 48.5065);
  --input: oklch(0.3245 0.0067 48.5065);
  --ring: oklch(0.6889 0.1988 39.1249);
  --chart-1: oklch(0.6889 0.1988 39.1249);
  --chart-2: oklch(0.2161 0.0061 56.0434);
  --chart-3: oklch(0.7049 0.1867 47.6044);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.8369 0.1644 84.4286);
  --sidebar: oklch(0.2587 0.0059 56.1218);
  --sidebar-foreground: oklch(0.967 0.0164 91.5509);
  --sidebar-primary: oklch(0.6889 0.1988 39.1249);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3584 0.0284 42.2665);
  --sidebar-accent-foreground: oklch(0.967 0.0164 91.5509);
  --sidebar-border: oklch(0.3245 0.0067 48.5065);
  --sidebar-ring: oklch(0.6889 0.1988 39.1249);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
